@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap");

/* debug */
/* * {
  border: 2px solid red;
} */
/* debug */

:root {
  --light-grey: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  letter-spacing: 0.015rem;
}

body {
  min-height: 100vh;
  font-family: "Outfit";
  font-size: 400;
  font-size: 0.938rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: var(--light-grey);
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  padding: 1rem;
  margin: 0 2rem;
  max-width: 20.313rem;
  text-align: center;
  margin-top: 5rem;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: block;
  max-width: 100%;
  border-radius: 0.7rem;
  cursor: pointer;
}

.image:hover {
  zoom: 2;
  overflow: hidden;
  opacity: 1;
}

.heading {
  padding: 1.25rem 0.5rem;
  color: var(--dark-blue);
}

.text {
  padding: 0 0.5rem 1.25rem 0.5rem;
  color: var(--grayish-blue);
}

.attribution {
  /* position: fixed;
  bottom: 0; */

  margin-top: auto;
  width: 100%;
  text-align: center;
  background-color: #537fe7;
  color: var(--light-grey);
  font-size: 1rem;
  padding: 0.75rem;
}

.attribution a {
  color: var(--light-grey);
}

.attribution a:hover {
  color: black;
  font-size: 1.15rem;
  transition: font-size 250ms ease-in-out;
}

@media (min-width: 47.5rem) {
  .attribution {
    position: fixed;
    bottom: 0;
  }
}
